<div class="container mt-5">
  <h2 class="text-primary mb-4">Mi Comunidad</h2>

  <div class="card shadow rounded-3 mb-4">
    <div class="card-body">
      <h5 class="text-secondary mb-3">Datos Generales</h5>
      <h4 class="card-title mb-3">{{ comunidad?.nombre }}</h4>
      <p class="card-text"><strong>Dirección:</strong> {{ comunidad?.direccion }}</p>
      <p class="card-text"><strong>Código Postal:</strong> {{ comunidad?.cp }}</p>
      <p class="card-text"><strong>Provincia:</strong> {{ comunidad?.provincia }}</p>
      <p class="card-text"><strong>Tipo de Comunidad:</strong> {{ comunidad?.seguridad }}</p>
      <p class="card-text"><strong>Número de vecinos:</strong> {{ comunidad?.numeroVecinos }}</p>

      <p class="card-text"><strong>Administradores:</strong></p>
      <ul class="mb-3">
        @for(admin of comunidad?.administradores; track $index) {
          <li>{{ admin.nombre }} ({{ admin.email }})</li>
        }
      </ul>

      <button class="btn btn-outline-danger"  (click)="abandonarComunidad()">
        <i class="bi bi-door-open-fill me-1"></i> Abandonar Comunidad
      </button>
    </div>
  </div>

  <div class="card shadow rounded-3">
    <div class="card-body">
      <h5 class="text-secondary mb-3">Calendarios Disponibles</h5>
      <div class="d-flex flex-column gap-3">
        @for(calendario of comunidad?.calendarios; track $index) {
          <app-calendario-card
            [nombre]="calendario?.nombre"
            [enlace]="'/navbar/calendario/' + calendario?.id">
          </app-calendario-card>
        }
      </div>
    </div>
  </div>
</div>
<ng-template #contenedorPopUp></ng-template>