<div class="container mt-5">
    <h2 class="text-primary mb-4">Usuarios Pendientes de Autenticar</h2>

<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nombre Usuario </th>
        <th>Email</th>
        <th>Portal</th>
        <th>Piso</th>
        <th>Verificar</th>
      </tr>
    </thead>
    <tbody>
        @for (registro of data(); track $index) {
            <tr>
              <td>{{ registro.nombre }}</td>
              <td>{{ registro.email }}</td>
              <td>{{ registro.portal }}</td>
              <td>{{ registro.piso }}</td>
              <td>
                <button class="btn btn-sm btn-success me-1" (click)="aceptar(registro.id)" title="Aceptar">
                <i class="bi bi-check-lg"></i>
              </button>
              <button class="btn btn-sm btn-danger" (click)="rechazar(registro.id)" title="Rechazar">
                <i class="bi bi-x-lg"></i>
              </button></td>
            </tr>
          }
    
    </tbody>
  </table>
</div>

