<div class="container mt-4">
  <h2 class="mb-4">Buscar Comunidades</h2>
  <div class="input-group mb-4">
    <input type="text" class="form-control" placeholder="Buscar por nombre, dirección, población o provincia"
      [(ngModel)]="filtro" />
    <button class="btn btn-outline-primary" type="button" (click)="filtrar()">Buscar</button>
  </div>
  @if(comunidadesFiltradas().length === 0){
  <div class="text-center text-muted">
    No se encontraron comunidades.
  </div>
  }@else{
  @for(comunidad of comunidadesFiltradas(); track comunidad.id ) {
  <app-comunidad [comunidad]="comunidad" (unirse)="onUnirse(comunidad)">
  </app-comunidad>
  }
}

</div>
@if(mostrarPopUp()){
  <app-pop-up-codigo-comunidad
  [titulo] ="'Introduce el código de la comunidad'"
  [subtitulo]="'Código de la comunidad'"
  [placeholder]="'Introduce el código aquí'"
  (close)="onCerrarPopup()"
  (confirmar)="onConfirmarCodigo($event)">
</app-pop-up-codigo-comunidad>
}

