<div class="card border-secondary shadow-sm mb-3">
  <div class="row g-0">
    <!-- Imagen a la izquierda -->
    <div class="col-md-3 d-flex align-items-center justify-content-center bg-light">
     <img [src]="comunidad()!.fotografia" alt="Imagen comunidad"
     class="img-fluid rounded-start"
     style="max-height: 200px; width: auto; height: auto;">
    </div>

    <!-- Contenido a la derecha -->
    <div class="col-md-8">
      <div class="card-body h-100 d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">{{ comunidad()!.nombre }}</h5>
          <p class="card-text mb-1"><strong>Dirección:</strong> {{ comunidad()!.direccion }}</p>
          <p class="card-text mb-1"><strong>Población:</strong> {{ comunidad()!.poblacion }}</p>
          <p class="card-text mb-1"><strong>Provincia:</strong> {{ comunidad()!.provincia }}</p>
        </div>

        <div class="d-flex justify-content-between align-items-center mt-3">
          <p class="card-text mb-0">
            <strong>Tipo:</strong>
            <span [ngClass]="{ 'text-success': comunidad()!.seguridad === 'publica', 'text-danger': comunidad()!.seguridad === 'privada' }">
              {{ comunidad()!.seguridad | titlecase }}
            </span>
          </p>

          @if(coincide() && perfil().rol){
            <button class="btn btn-danger" (click)="Onabandonar()">Abandonar</button>
          }@else if(coincide() && !perfil().rol){
            <button class="btn btn-warning">Pendiente</button>
          }@else {
            <button class="btn btn-primary" (click)="onUnirse()">Unirse</button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
